body {
    margin: 0;
    background-image: url("images/tomato-4474174_1920.jpg");
    background-size: 1450px 735px;
}

#menu {
    /* background: #12181F; */
    background: #4AAE4A;
    padding: 16px;
    /* margin: auto;    */
}

a { 
    color: #FFFFFF;
    text-decoration: none; /* Remove os sublinhados dos hiperlinks */
    padding: 5px;
}

form{
	
	margin: 0 auto;
    width: 360px;
	padding: 27px;
	margin-top: 100px;
	border: 4px dotted black;
	border-radius: 2em;
	border-color: #000;
}

button{
	margin-left: 260px;
}
 